<style type="text/css">
  .text-9xl {
    font-size: 14rem;
  }

  main {
   justify-content: center;
  }

  .home {
    color: rgb(220 38 38);
    text-decoration: underline;
  }

  @media(max-width: 645px) {
    .text-9xl {
      font-size: 5.75rem;
    }

    .text-6xl {
      font-size: 1.75rem;
    }
    
    .text-2xl {
      font-size: 1rem;
      line-height: 1.2rem;
    }
    
    .py-8 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .px-6 {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    
    .mr-6{
      margin-right: 0.5rem;
    }

    .px-12 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
</style>
</head>
<div class="bg-white shadow overflow-hidden sm:rounded-lg flex">
  <div>
   <div class="text-9xl font-bold text-blue-600">404</div>
   <div class="text-6xl font-bold text-blue-600">
     Oops! The page you are looking for does not exist.<br/>It might have been moved or deleted. Go to <a href="/" rel="no-follow" class="home">Home</a>
   </div>
  </div>
</div>

